<div>
	<h2>{{header}}</h1>
	<div>
		<input type="text" ng-model="keywords" placeholder="keywords..."/>
		Modes:
		<button ng-click="onViewClicked($event, 'list')">List</button>
		<button ng-click="onViewClicked($event, 'inline')">inline</button>
		<button ng-click="onViewClicked($event, 'grid')">Grid</button>
	</div>
	<ul ng-show="items && items.length > 0" ng-class="listMode">
		<li ng-repeat="item in items | filter:keywords">
			<h2 ng-click="onSelect({event: $event, item: item})">
				<span ng-bind="item.id"></span> | <span ng-bind="item.title | uppercase"></span>
			</h2>
			<p ng-bind="item.description" ng-hide="listMode==='inline'"></p>
			<div>Price: <span ng-bind="item.price | discount:discount | currency:'Rs. '"></span></div>
		</li>
	</ul>
	<p ng-bind="errorMessage" ng-show="!items || (items && items.length <= 0)"></p>
</div>