h1, h2, h3, ul, li, p {
	color: green;
	border: 1px solid #f7f7f7;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

h1{

}

ul {
	list-style: none;
}

li {
	background-color: #f7f7f7;
}

p {
	font-family: sans-serif;
    line-height: 1.7;
}