<html>
<head>
	<title>The Articles Library</title>
	<link rel="stylesheet" type="text/css" href="styles/app.css">
</head>
<body ng-app="articlesLib" ng-controller="appController">
	<h1>{{appTitle}}</h1>
	<hr>

	<div ng-controller="articlesController">
		<h2>My Articles</h1>
		<ul ng-show="articles && articles.length > 0">
			<li> <input type="text" ng-model="keywords"/>  </li>
			<li ng-repeat="article in articles | filter:keywords">
				<h2>
					<span ng-bind="article.id"></span> | <span ng-bind="article.title | uppercase"></span>
				</h2>
				<p ng-bind="article.description"></p>
				<div>Price: <span ng-bind="article.price | discount:10 | currency:'Rs. '"></span></div>
			</li>
		</ul>
		<p ng-bind="notFoundMsg" ng-show="!articles || (articles && articles.length <= 0)"></p>
	</div>






<script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>


<script type="text/javascript" src="index.js"></script>

<script type="text/javascript" src="js/base/controllers/appController.js"></script>

<script type="text/javascript" src="js/articles/articles.js"></script>
<script type="text/javascript" src="js/articles/controllers/articlesController.js"></script>
<script type="text/javascript" src="js/articles/services/articlesService.js"></script>
<script type="text/javascript" src="js/articles/filters/discount.js"></script>

</body>
</html>